<!-- footer.html -->
<footer class="footer">
    <div class="copyright">
        &copy; 2024 Your Website Name. All rights reserved.
    </div>
    <div class="social-icons">
        <!-- Add your social media icons here -->
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <!-- Add more social media icons as needed -->
    </div>
</footer>
